---

- block:
  - name: Look for control script.
    win_stat:
      path: "{{ dsa_control }}"
    register: dsa_control_stat

  - name: Deactivate Deep Security agent.
    win_command: "'{{ dsa_control }}' --selfprotect 0 -p {{ dsa_control_password }}"
    when:
      - dsa_control_stat.stat.exists
      - dsa_control_stat.stat.isreg
    tags:
      - deactivate

  when:
    - dsa_control_password is defined
    - dsa_control_password | trim | length > 0

- name: Uninstall Trend Micro Deep Security Agent advanced host-based protection.
  win_package:
    product_id: "{{ product_id }}"
    state: absent
  register: uninstall_result
  tags:
    - package

# Validate complete uninstall.

- name: Delete services.
  win_service:
    name: "{{ item }}"
    state: absent
  loop: "{{ services }}"
  tags:
    - service

- name: Remove registry entries.
  win_regedit:
    path: "HKLM:\\{{ item }}"
    state: absent
  loop: "{{ registry_entries }}"
  tags:
    - registry

- name: Remove application files.
  win_file:
    path: "{{ item }}"
    state: absent
  loop: "{{ agent_files }}"
  tags:
    - files

- name: Reboot.
  win_reboot:
    msg: "Reboot initiated by Ansible for Trend Micro uninstall."
  when:
    - allow_reboot
    - uninstall_result.reboot_required
  tags:
    - reboot
